<%= paginate @mark %>
<%= page_entries_info @mark %>
<h3><%= @post.title %></h3>

<p>
  <%= @post.body %>
</p>

<div class="pull-right">
  <%= @post.author.email if @post.author %>,
  <%= action_links %>
</div>

<h3>Reply (<%= @post.replies_count %>):</h3>
<ul>
  <% @post.replies.each do |reply| %>
  <li>
    <strong><%= reply.author.try(:email) or "Anonymous" %>:</strong>
    <%= reply.body %>
  </li>
  <% end -%>
</ul>

<%= form_for Reply.new, url: reply_post_path do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end -%>